 {% load static %}
 <footer id="footer" class="bg-color-secondary border-top-0 mt-0">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <h5 class="text-3 mb-3 opacity-7">НОВОСТНАЯ РАССЫЛКА</h5>
                <p class="pr-1 text-color-light">Следите за постоянно развивающимися функциями и технологиями наших продуктов. Введите свой адрес электронной почты и подпишитесь на нашу рассылку новостей.</p>
                <div wire:id="73WUA3R0J9TCbja76GQE" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;73WUA3R0J9TCbja76GQE&quot;,&quot;name&quot;:&quot;newsletter&quot;,&quot;locale&quot;:&quot;ru&quot;,&quot;path&quot;:&quot;ru&quot;,&quot;method&quot;:&quot;GET&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[]},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;4d2d001b&quot;,&quot;data&quot;:{&quot;newsletterEmail&quot;:null},&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;d4e7cac485d909267cf67df67812ce21368c5eb82c05cb46527e164cf1eccead&quot;}}">
                <form class="mr-4 mb-3 mb-md-0" wire:submit.prevent="sendNewsletter">
        <div class="input-group input-group-rounded">
            <input wire:model="newsletterEmail" class="form-control form-control-sm bg-light" placeholder="Адрес электронной почты" type="email">
            <span class="input-group-append">
                <button class="btn btn-light text-color-dark" type="submit"><strong>GO!</strong></button>
            </span>
        </div>
    </form>
</div>
            </div>
            <div class="col-md-6 col-lg-5 mb-4 mb-lg-0">
                <h5 class="text-3 mb-3 opacity-7">Ссылки</h5>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-1">
                            <a href="ru.html" class="text-4 text-white link-hover-style-1">
                                Дома
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="ru/about.html" class="text-4 text-white link-hover-style-1">
                                О нас
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="ru/contact.html" class="text-4 text-white link-hover-style-1">
                                Контакт
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="ru/faq.html" class="text-4 text-white link-hover-style-1">
                                FAQ
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="ru/privacy-policy.html" class="text-4 text-white link-hover-style-1">
                                Политика конфиденциальности
                            </a>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="mb-1">
                            <a href="ru/loans-and-credits.html" class="text-4 text-white link-hover-style-1">
                                Ссуды и кредиты
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="ru/insurances.html" class="text-4 text-white link-hover-style-1">
                                Страхование
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="ru/investment.html" class="text-4 text-white link-hover-style-1">
                                Инвестиции
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="ru/request-form.html" class="text-4 text-white link-hover-style-1">
                                Запрос на получение кредита
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h5 class="text-3 mb-3 opacity-7">СВЯЗАТЬСЯ С НАМИ</h5>
                                    <ul class="list list-icons list-icons-lg">
                        <li class="mb-1">
                            <i class="fa fa-phone text-color-light"></i>
                            <p class="m-0">
                                <a class="text-color-light" href="tel:+302">
                                    +302
                                </a>
                            </p>
                        </li>
                        <li class="mb-1">
                            <i class="fa fa-envelope text-color-light"></i>
                            <p class="m-0">
                                <a class="text-color-light" href="mailto:info@one.open-int-bank.com">
                                    info@one.open-int-bank.com
                                </a>
                            </p>
                        </li>
                        <li class="mb-1">
                            <i class="fa fa-dot-circle text-color-light"></i>
                            <p class="m-0 text-color-light">
                                20, avenue de Paris 94811 Villejuif Cedex France
                            </p>
                        </li>
                                                    <li class="mb-1">
                                <i class="fa fa-dot-circle text-color-light"></i>
                                <p class="m-0 text-color-light">
                                    Via Arrigo Boito, 10, 20121
                                </p>
                            </li>
                                                                    </ul>
                    <ul class="social-icons">
                        <li class="social-icons-facebook">
                            <a href="#" target="_blank" title="Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social-icons-twitter">
                            <a href="#" target="_blank" title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-icons-linkedin">
                            <a href="#" target="_blank" title="Linkedin">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                            </div>

        </div>
    </div>
    <div class="footer-copyright bg-color-dark bg-color-scale-overlay bg-color-scale-overlay-1">
        <div class="bg-color-scale-overlay-wrapper">
            <div class="container py-2">
                <div class="row py-4">
                    <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                        <a href="ru.html" class="logo pr-0 pr-lg-3">
                            <img alt="Porto Website Template" src="img/logo-footer.png" class="opacity-5" height="33">
                        </a>
                    </div>
                    <div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                        <p class="text-color-light">© Copyright 2022. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                        <nav id="sub-menu">
                            <ul>
                                <li class="border-0">
                                    <i class="fas fa-angle-right text-color-light"></i>
                                    <a href="ru/privacy-policy.html" class="ml-1 text-decoration-none text-color-light">
                                        Политика конфиденциальности
                                    </a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>