{% load static %}
<!DOCTYPE html>
<html lang="fr">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COEM GROUP - Assurance Emprunteur</title>
    <meta name="keywords" content="loan, credit, prêt, crédit" />
    <meta name="description" content="DES PRÊTS FIABLES ET SANS TRACAS">
    <meta name="author" content="../../index.html">
    {% include 'fr/head.html' %}

    <!-- Livewire Styles -->
<style>
    [wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid] {
        display: none;
    }

    [wire\:offline] {
        display: none;
    }

    [wire\:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }

    input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
        animation-duration: 50000s;
        animation-name: livewireautofill;
    }

    @keyframes livewireautofill { from {} }
</style>
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script>

        (() => {
            const application = Stimulus.Application.start()

            application.register("calculator", class extends Stimulus.Controller {
                static targets = [ "currency", "amount", "duration", "output", "error" ]

                calculate() {
                    let currency = this.currencyTarget.value
                    let amount = parseFloat(this.amountTarget.value)
                    let duration = parseInt(this.durationTarget.value)
                    let monthly = parseFloat(`${(amount + (amount * 0.03))}`) / duration

                    if (!isNaN(parseInt(currency))) {
                        this.errorTarget.textContent = 'Incorrect format'
                    } else {
                        this.errorTarget.textContent = ''
                    }

                    if (isNaN(monthly)) {
                        this.outputTarget.textContent = 0
                    } else {
                        this.outputTarget.textContent = Math.round(monthly * 100) / 100 + ' ' + currency
                    }
                }
            })
        })()
    </script>
</head>
<body class="" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">

<div class="body">
{% include 'fr/header.html' %}

    <div role="main" class="main">

                    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Assurance Emprunteur</h1>
                <span class="sub-title text-dark">DES PRÊTS FIABLES ET SANS TRACAS</span>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right">
                    <li><a href="{% url 'fr' %}">Accueil</a></li>
                    <li class="active">Assurance Emprunteur</li>
                </ul>
            </div>
        </div>
    </div>
</section>
        
        
    <div class="container">

        <div class="row pt-5">
            <div class="col">

                <h3>Vous avez des questions sur nos assurances emprunteurs ?</h3>
                <p>
                    <a href="{% url 'fr_contact' %}" class="btn btn-dark btn-modern">
                        Contactez-Nous
                    </a>
                </p>

            </div>
        </div>

    </div>



    </div>

    {% include 'fr/footer.html' %}

</div>
    {% include 'fr/racourcis.html' %}
</body>
</html>
