{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ONE BANK INTERNATIONAL - Loan without contribution</title>
    <meta name="keywords" content="loan, credit, prêt, crédit" />
    <meta name="description" content="RELIABLE, HASSLE-FREE LENDING">
    <meta name="author" content="../../index.html">
    {% include 'en/head.html' %}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Livewire Styles -->
<style>
    [wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid] {
        display: none;
    }

    [wire\:offline] {
        display: none;
    }

    [wire\:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }

    input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
        animation-duration: 50000s;
        animation-name: livewireautofill;
    }

    @keyframes livewireautofill { from {} }
</style>
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script>

        (() => {
            const application = Stimulus.Application.start()

            application.register("calculator", class extends Stimulus.Controller {
                static targets = [ "currency", "amount", "duration", "output", "error" ]

                calculate() {
                    let currency = this.currencyTarget.value
                    let amount = parseFloat(this.amountTarget.value)
                    let duration = parseInt(this.durationTarget.value)
                    let monthly = parseFloat(`${(amount + (amount * 0.03))}`) / duration

                    if (!isNaN(parseInt(currency))) {
                        this.errorTarget.textContent = 'Incorrect format'
                    } else {
                        this.errorTarget.textContent = ''
                    }

                    if (isNaN(monthly)) {
                        this.outputTarget.textContent = 0
                    } else {
                        this.outputTarget.textContent = Math.round(monthly * 100) / 100 + ' ' + currency
                    }
                }
            })
        })()
    </script>
</head>
<body class="" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">

<div class="body">
{% include 'en/header.html' %}


    <div role="main" class="main">

                    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Loan without contribution</h1>
                <span class="sub-title text-dark">RELIABLE, HASSLE-FREE LENDING</span>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right">
                    <li><a href="../../en.html">Home</a></li>
                    <li class="active">Loan without contribution</li>
                </ul>
            </div>
        </div>
    </div>
</section>
        
        
    <div class="container">

        <div class="row pt-5">
            <div class="col">

                <h2>How to borrow without contribution?</h2>
                <p class="lead">When you need a personal loan or a mortgage for a project that is important to us, releasing an amount to constitute a personal contribution is not always easy. To avoid this problem, lending institutions offer their customers to take out loans without contribution. What are the advantages and limitations of this formula? How to borrow without contribution? In which cases is a personal contribution necessary?</p>

                <h2>How to get a loan without personal contribution?</h2>
                <p>Before granting credit without personal contribution, lending institutions examine the financial situation of the borrower. The many conditions to be fulfilled can be classified into 3 categories:</p>
                <ul>
                    <li>a stable professional situation, which ensures regular income over time. Concretely, this very often involves a work contract in C.D.I., with a seniority of several years to reinforce the solidity of the file;</li>
                    <li>a comfortable living space, which allows a sufficient level of current expenses. By deducting the due dates from the amount of income, the credit institution calculates a remainder to be lived. This must be sufficient to maintain a satisfactory standard of living once the loan has been obtained without contribution;</li>
                    <li>a flawless financial history, which reassures the ability to keep its commitments. Defaulting payments on old loans, and good management of your accounts in the past gives confidence and increases the chances of getting a loan without a personal contribution.</li>
                </ul>

                <h2>What are the limits of the personal contribution?</h2>
                <p>Despite these undeniable financial advantages, it is sometimes preferable to obtain a loan without contribution. This is especially the case when the rates offered depend on the amount of the loan.</p>
                <p>Example: 5% interest rate for an amount less than € 10,000 or 3% for an amount greater than or equal to € 10,000. The car buyer in the example above then has an interest in borrowing without a down payment if he wants to benefit from the reduced declining rate.</p>
                <p>You must also be careful not to dip too much into your precautionary savings to make your personal contribution. Keeping a minimum of available cash is essential to deal with an unforeseen event.</p>
                <p>Example: making € 2,000 for a personal loan can be risky if it amounts to completely emptying a precautionary savings account. Conversely, it can be financially interesting, if despite this € 2,000 contribution, the borrower maintains a comfortable level of savings.</p>

            </div>
        </div>

    </div>



    </div>

    {% include 'en/footer.html' %}


</div>
    {% include 'en/racourcis.html' %}

<script data-turbo-eval="false" data-turbolinks-eval="false">
    if (window.livewire) {
	    console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
	}

    window.livewire = new Livewire();
    window.livewire.devTools(true);
    window.Livewire = window.livewire;
    window.livewire_app_url = '';
    window.livewire_token = 'qPOCPhm6Kj8uDMyvcPXsdn388meIrNjs5ybhfwKT';

	/* Make sure Livewire loads first. */
	if (window.Alpine) {
	    /* Defer showing the warning so it doesn't get buried under downstream errors. */
	    document.addEventListener("DOMContentLoaded", function () {
	        setTimeout(function() {
	            console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\\n\\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
	        })
	    });
	}

	/* Make Alpine wait until Livewire is finished rendering to do its thing. */
    window.deferLoadingAlpine = function (callback) {
        window.addEventListener('livewire:load', function () {
            callback();
        });
    };

    document.addEventListener("DOMContentLoaded", function () {
        window.livewire.start();
    });
</script>
    <script>

        window.laravelCookieConsent = (function () {

            const COOKIE_VALUE = 1;
            const COOKIE_DOMAIN = 'one.open-int-bank.com';

            function consentWithCookies() {
                setCookie('laravel_cookie_consent', COOKIE_VALUE, 7300);
                hideCookieDialog();
            }

            function cookieExists(name) {
                return (document.cookie.split('; ').indexOf(name + '=' + COOKIE_VALUE) !== -1);
            }

            function hideCookieDialog() {
                const dialogs = document.getElementsByClassName('js-cookie-consent');

                for (let i = 0; i < dialogs.length; ++i) {
                    dialogs[i].style.display = 'none';
                }
            }

            function setCookie(name, value, expirationInDays) {
                const date = new Date();
                date.setTime(date.getTime() + (expirationInDays * 24 * 60 * 60 * 1000));
                document.cookie = name + '=' + value
                    + ';expires=' + date.toUTCString()
                    + ';domain=' + COOKIE_DOMAIN
                    + ';path=/'
                    + ';samesite=lax';
            }

            if (cookieExists('laravel_cookie_consent')) {
                hideCookieDialog();
            }

            const buttons = document.getElementsByClassName('js-cookie-consent-agree');

            for (let i = 0; i < buttons.length; ++i) {
                buttons[i].addEventListener('click', consentWithCookies);
            }

            return {
                consentWithCookies: consentWithCookies,
                hideCookieDialog: hideCookieDialog
            };
        })();
    </script>

</body>
</html>
