{% load static %}
<!DOCTYPE html>
<html lang="de">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ONE BANK INTERNATIONAL - Investitionen</title>
    <meta name="keywords" content="loan, credit, prêt, crédit" />
    <meta name="description" content="Investieren Sie in OPEN BANK INTERNATIONAL">
    <meta name="author" content="../index.html">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../img/apple-touch-icon.html">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/frontend.css' %}">
    <!-- Head Libs -->
    <script src="{% static 'vendor/modernizr/modernizr.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Livewire Styles -->
<style>
    [wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid] {
        display: none;
    }

    [wire\:offline] {
        display: none;
    }

    [wire\:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }

    input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
        animation-duration: 50000s;
        animation-name: livewireautofill;
    }

    @keyframes livewireautofill { from {} }
</style>
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script>

        (() => {
            const application = Stimulus.Application.start()

            application.register("calculator", class extends Stimulus.Controller {
                static targets = [ "currency", "amount", "duration", "output", "error" ]

                calculate() {
                    let currency = this.currencyTarget.value
                    let amount = parseFloat(this.amountTarget.value)
                    let duration = parseInt(this.durationTarget.value)
                    let monthly = parseFloat(`${(amount + (amount * 0.03))}`) / duration

                    if (!isNaN(parseInt(currency))) {
                        this.errorTarget.textContent = 'Incorrect format'
                    } else {
                        this.errorTarget.textContent = ''
                    }

                    if (isNaN(monthly)) {
                        this.outputTarget.textContent = 0
                    } else {
                        this.outputTarget.textContent = Math.round(monthly * 100) / 100 + ' ' + currency
                    }
                }
            })
        })()
    </script>
</head>
<body class="" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">

<div class="body">
{% include 'de/header.html' %}

    <div role="main" class="main">

                    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Investitionen</h1>
                <span class="sub-title text-dark">Investieren Sie in OPEN BANK INTERNATIONAL</span>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right">
                    <li><a href="{% url 'de' %}">Zuhause</a></li>
                    <li class="active">Investitionen</li>
                </ul>
            </div>
        </div>
    </div>
</section>
        
        
    <div class="container pt-5">

        <div class="row py-4 mb-2">
            <div class="col-md-7 order-2">
                <div class="overflow-hidden">
                    <h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">
                        Professioneller Investor
                    </h2>
                </div>
                <div class="overflow-hidden mb-3">
                    <p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">
                        Begleiten Sie uns
                    </p>
                </div>
                <p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
                    OPEN BANK INTERNATIONAL ist ein Kreditinstitut und Wertpapierdienstleister, der im Oktober 1992 mit einer europäischen Banklizenz gegründet wurde. Unsere Mission ist es, europäischen Haushalten transparente und wettbewerbsfähige Konsumentenkredite zur Verfügung zu stellen, die direkt von professionellen Investoren * finanziert werden. Unsere 100% digitale Plattform verfügt über modernste Technologien, die es uns ermöglichen, Kreditnehmern wettbewerbsfähige Zinssätze und Investoren attraktive Renditen anzubieten.
                </p>
                <p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
                    Wir investieren in abschreibungsfähige Haushaltskredite zu festen Zinssätzen und konstanten monatlichen Zahlungen. Die anfänglichen Kreditlaufzeiten liegen zwischen 6 und 84 Monaten und werden über die OPEN BANK INTERNATIONAL-Plattform gewährt. Unser Anlageportfolio zielt darauf ab, stabile und wettbewerbsfähige Renditen bei geringer Volatilität zu erzielen.
                </p>
                <hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
                <div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
                    <div class="col-lg-6">
                        <a href="{% static 'de_contact' %}" class="btn btn-modern btn-dark mt-3">In Kontakt kommen</a>
                    </div>
                    <div class="col-sm-6 text-lg-right my-4 my-lg-0">
                        <strong class="text-uppercase text-1 mr-3 text-dark">FOLGE UNS</strong>
                                                    <ul class="social-icons float-lg-right">
                                <li class="social-icons-facebook"><a href="#" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="social-icons-twitter"><a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li class="social-icons-linkedin"><a href="#" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                                            </div>
                </div>
            </div>
            <div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
                <img src="{% static 'img/investments.jpg' %}" class="img-fluid mb-2" alt="">
            </div>
        </div>
    </div>

    <section class="section section-default border-0 mt-5 mb-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1200">
        <div class="container py-4">

            <div class="row featured-boxes featured-boxes-style-4">
                <div class="col-md-6 col-lg-4 my-2">
                    <div class="m-0 featured-box featured-box-primary featured-box-effect-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1600">
                        <div class="box-content p-0 text-left">
                            <i class="icon-featured icon-magnifier-add icons text-12 m-0 p-0"></i>
                            <h4 class="font-weight-bold text-color-dark">Diversifikation</h4>
                            <p class="mb-0">Wir bieten Ihnen Zugang zu einer neuen Anlageklasse, mit der Sie Ihr Portfolio diversifizieren können</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 my-2">
                    <div class="m-0 featured-box featured-box-primary featured-box-effect-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1400">
                        <div class="box-content p-0 text-left">
                            <i class="icon-featured icon-trophy icons text-12 m-0 p-0"></i>
                            <h4 class="font-weight-bold text-color-dark">Effizienz</h4>
                            <p class="mb-0">Zielrendite abzüglich Verwaltungsgebühren und Standardwerten zwischen + 2,5% und + 3,5% pro Jahr</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 my-2">
                    <div class="m-0 featured-box featured-box-primary featured-box-effect-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1400">
                        <div class="box-content p-0 text-left">
                            <i class="icon-featured icon-shield icons text-12 m-0 p-0"></i>
                            <h4 class="font-weight-bold text-color-dark">Sicherheit</h4>
                            <p class="mb-0">Unsere Fonds erzielen niedrige Volatilitätsrenditen bei geringer Korrelation zu den Finanzmärkten</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="parallax section section-text-light section-parallax mb-0 mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'parallaxHeight': '210%'}" data-image-src="{% static 'img/parallax/parallax-2.jpg' %}">
    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-lg-9">
                    <div class="call-to-action-content">
                        <h3>Bist du bereit, das Geld zu bekommen, das du brauchst, um zum Guten zurückzukehren?</h3>
                        <p class="mb-0">OPEN BANK INTERNATIONAL bietet Ihnen den besten Finanzservice.</p>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="call-to-action-btn">
                        <a href="{% url 'de_about' %}" target="_blank" class="btn btn-modern text-2 btn-primary">Über uns</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


    </div>

{% include 'de/footer.html' %}

</div>
    <a href="{% url 'de_request_form' %}" class="btn btn-sm btn-secondary" style="position:fixed;bottom:40px;right:40px;z-index:100;">
        <i class="fas fa-paper-plane mr-2"></i>
        Darlehen beantragen
    </a>
    <a href="{% url 'de_register' %}" class="btn btn-sm btn-primary" style="position:fixed;bottom:80px;right:40px;z-index:100;">
        <i class="fas fa-user-plus mr-2"></i>
        Eröffnen Sie Ihr Konto
    </a>
<a href="https://api.whatsapp.com/send?phone=+302521888006&amp;text=Hello!"
   class="float"
   target="_blank"
   style="position:fixed;bottom:120px;right:40px;text-align:center;font-size:15px;color:#00509D!important;z-index:100;text-decoration: none;font-weight: 400">

    <i class="fab fa-whatsapp my-float" style="padding-top:5px;color: #ffffff!important;font-size:20px;width:30px;height:30px;background-color:#25d366;border-radius:50px;box-shadow: 0 0 4px #141414;"></i>
</a>
<!-- Vendor -->
<script src="{% static 'js/frontend.js' %}"></script>
<!-- Livewire Scripts -->

<script src="{% static 'livewire/livewireb1f3.js' %}" data-turbo-eval="false" data-turbolinks-eval="false"></script>
<script data-turbo-eval="false" data-turbolinks-eval="false">
    if (window.livewire) {
	    console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
	}

    window.livewire = new Livewire();
    window.livewire.devTools(true);
    window.Livewire = window.livewire;
    window.livewire_app_url = '';
    window.livewire_token = 'qPOCPhm6Kj8uDMyvcPXsdn388meIrNjs5ybhfwKT';

	/* Make sure Livewire loads first. */
	if (window.Alpine) {
	    /* Defer showing the warning so it doesn't get buried under downstream errors. */
	    document.addEventListener("DOMContentLoaded", function () {
	        setTimeout(function() {
	            console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\\n\\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
	        })
	    });
	}

	/* Make Alpine wait until Livewire is finished rendering to do its thing. */
    window.deferLoadingAlpine = function (callback) {
        window.addEventListener('livewire:load', function () {
            callback();
        });
    };

    document.addEventListener("DOMContentLoaded", function () {
        window.livewire.start();
    });
</script>
<div class="js-cookie-consent cookie-consent p-4 bg-color-light-scale-2 text-color-primary font-weight-bold shadow-lg" style="position:fixed;bottom:160px;right:20px;left:20px;z-index:10000;border-radius: 10px">

    <h2 class="pb-0 mb-0">Cookies</h2>

    <span class="cookie-consent__message">
        Wir möchten Daten von Ihrem Gerät sammeln, während Sie diese Website nutzen. Wir machen das mit Cookies. Durch das Sammeln dieser Daten können wir Ihnen die bestmögliche Erfahrung bieten, Ihr Konto schützen, Social Media-Funktionen bereitstellen und den Inhalt von Werbe- und Servicemeldungen personalisieren. Bitte akzeptieren Sie Cookies, damit wir Ihre Daten auf diese Weise sammeln können.
    </span>
    <br>
    <button class="js-cookie-consent-agree cookie-consent__agree btn bg-color-primary text-white text-uppercase float-right">
        Akzeptieren
    </button>

</div>

    <script>

        window.laravelCookieConsent = (function () {

            const COOKIE_VALUE = 1;
            const COOKIE_DOMAIN = 'one.open-int-bank.com';

            function consentWithCookies() {
                setCookie('laravel_cookie_consent', COOKIE_VALUE, 7300);
                hideCookieDialog();
            }

            function cookieExists(name) {
                return (document.cookie.split('; ').indexOf(name + '=' + COOKIE_VALUE) !== -1);
            }

            function hideCookieDialog() {
                const dialogs = document.getElementsByClassName('js-cookie-consent');

                for (let i = 0; i < dialogs.length; ++i) {
                    dialogs[i].style.display = 'none';
                }
            }

            function setCookie(name, value, expirationInDays) {
                const date = new Date();
                date.setTime(date.getTime() + (expirationInDays * 24 * 60 * 60 * 1000));
                document.cookie = name + '=' + value
                    + ';expires=' + date.toUTCString()
                    + ';domain=' + COOKIE_DOMAIN
                    + ';path=/'
                    + ';samesite=lax';
            }

            if (cookieExists('laravel_cookie_consent')) {
                hideCookieDialog();
            }

            const buttons = document.getElementsByClassName('js-cookie-consent-agree');

            for (let i = 0; i < buttons.length; ++i) {
                buttons[i].addEventListener('click', consentWithCookies);
            }

            return {
                consentWithCookies: consentWithCookies,
                hideCookieDialog: hideCookieDialog
            };
        })();
    </script>

</body>
</html>
