{% load static %}
<!DOCTYPE html>
<html lang="de">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ONE BANK INTERNATIONAL - Kredite und Kredite</title>
    <meta name="keywords" content="loan, credit, prêt, crédit" />
    <meta name="description" content="Unsere Kredit- und Kreditserviceangebote">
    <meta name="author" content="../index.html">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../img/apple-touch-icon.html">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/frontend.css' %}">
    <!-- Head Libs -->
    <script src="{% static 'vendor/modernizr/modernizr.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Livewire Styles -->
<style>
    [wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid] {
        display: none;
    }

    [wire\:offline] {
        display: none;
    }

    [wire\:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }

    input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
        animation-duration: 50000s;
        animation-name: livewireautofill;
    }

    @keyframes livewireautofill { from {} }
</style>
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script>

        (() => {
            const application = Stimulus.Application.start()

            application.register("calculator", class extends Stimulus.Controller {
                static targets = [ "currency", "amount", "duration", "output", "error" ]

                calculate() {
                    let currency = this.currencyTarget.value
                    let amount = parseFloat(this.amountTarget.value)
                    let duration = parseInt(this.durationTarget.value)
                    let monthly = parseFloat(`${(amount + (amount * 0.03))}`) / duration

                    if (!isNaN(parseInt(currency))) {
                        this.errorTarget.textContent = 'Incorrect format'
                    } else {
                        this.errorTarget.textContent = ''
                    }

                    if (isNaN(monthly)) {
                        this.outputTarget.textContent = 0
                    } else {
                        this.outputTarget.textContent = Math.round(monthly * 100) / 100 + ' ' + currency
                    }
                }
            })
        })()
    </script>
</head>
<body class="" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">

<div class="body">
{% include 'de/header.html' %}

    <div role="main" class="main">

                    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Kredite und Kredite</h1>
                <span class="sub-title text-dark">Unsere Kredit- und Kreditserviceangebote</span>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right">
                    <li><a href="../de.html">Zuhause</a></li>
                    <li class="active">Kredite und Kredite</li>
                </ul>
            </div>
        </div>
    </div>
</section>
        
        
    <section class="bg-color-grey-scale-3">
    <div class="container pt-2">
        <div class="row mt-5 mb-0 pb-5">
            <div class="col-lg-6 pr-5">
                <h2 class="font-weight-normal text-6 mb-2 pb-1">Zahlungsrechner</h2>
                <p>Verwenden Sie den Zahlungsrechner, um die monatliche Zahlung Ihres Darlehens zu ermitteln. Dies sind nur Beispiele. Der tatsächliche Darlehensbetrag wird auf Antrag festgelegt.</p>
                <p class="lead">
                    Schätzen Sie Ihre monatliche Darlehenszahlung
                </p>
                <p class="text-primary">Geben Sie den Darlehensbetrag sowie Ihre Währung und die Dauer (in Monaten) der Rückzahlung ein und erhalten Sie eine Schätzung der entsprechenden monatlichen Zahlung.</p>
            </div>
            <div class="col-lg-6">
                <div class="card" data-controller="calculator">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="currency" class="required font-weight-bold text-dark text-2">Währung</label>
                            <input data-calculator-target="currency" data-action="input->calculator#calculate" id="currency" type="text" class="form-control" placeholder="Beispiel : EURO">
                            <span class="text-danger text-1" data-calculator-target="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="required font-weight-bold text-dark text-2">Kreditbetrag</label>
                            <input data-calculator-target="amount" data-action="input->calculator#calculate" id="amount" type="text" class="form-control" placeholder="Beispiel : 25000">
                        </div>
                        <div class="form-group">
                            <label for="duration" class="required font-weight-bold text-dark text-2">Rückzahlungsfrist <em class="text-primary">(Monate)</em></label>
                            <input data-calculator-target="duration" data-action="input->calculator#calculate" id="duration" type="text" class="form-control" placeholder="Beispiel : 76">
                                                    </div>
                    </div>
                    <div class="card-footer bg-color-grey text-right">
                        <p class="text-2 mb-0">Monatliche Bezahlung</p>
                        <p class="text-7 mb-0" data-calculator-target="output"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="container py-4">

        <div class="row py-3 justify-content-center">
            <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn">
                <article>
                    <div class="row">
                        <div class="col">
                            <a href="../en/loans-and-credits/personal-loan.html" class="text-decoration-none">
                                <img src="../img/personal-loan.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0">
                                <a href="../en/loans-and-credits/personal-loan.html" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">
                                    Privat Darlehen
                                </a>
                            </h4>
                            <p class="mb-2 lead text-4">
                                Ein persönlicher Kredit ist ein Kredit, der als &quot;nicht betroffen&quot; bezeichnet wird. Tatsächlich entspricht der aus einem Privatkredit geliehene Betrag nicht dem genauen Kauf einer Ware (Auto, Motorrad, Immobilien usw.).
                            </p>
                            <p class="text-2">
                                <a href="../en/loans-and-credits/personal-loan.html">
                                    Mehr erfahren
                                    <i class="fa fa-arrow-right ml-2"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="250">
                <article>
                    <div class="row">
                        <div class="col">
                            <a href="../en/loans-and-credits/loan-without-contribution.html" class="text-decoration-none">
                                <img src="../img/loan-without-contribution.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0">
                                <a href="../en/loans-and-credits/loan-without-contribution.html" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">
                                    Darlehen ohne Beitrag
                                </a>
                            </h4>
                            <p class="mb-2 lead text-4">
                                Haben Sie ein Hauskaufprojekt? Seien Sie versichert: Das Ausleihen ohne Anzahlung ist kompliziert, aber sicherlich nicht unmöglich.
                            </p>
                            <p class="text-2">
                                <a href="../en/loans-and-credits/loan-without-contribution.html">
                                    Mehr erfahren
                                    <i class="fa fa-arrow-right ml-2"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-8 col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                <article>
                    <div class="row">
                        <div class="col">
                            <a href="../en/loans-and-credits/loan-between-individuals.html" class="text-decoration-none">
                                <img src="../img/loan-between-individuals.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0">
                                <a href="../en/loans-and-credits/loan-between-individuals.html" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">
                                    Darlehen zwischen Einzelpersonen
                                </a>
                            </h4>
                            <p class="mb-2 lead text-4">Der Kredit oder Kredit zwischen Einzelpersonen oder PAP / P2P wird auch als Kredit ohne Bankier bezeichnet, da die Kreditorganisationen zwischen Einzelpersonen im Allgemeinen keine genehmigten Organisationen oder Banken sind.</p>
                            <p class="text-2">
                                <a href="../en/loans-and-credits/loan-between-individuals.html">
                                    Mehr erfahren
                                    <i class="fa fa-arrow-right ml-2"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn">
                <article>
                    <div class="row">
                        <div class="col">
                            <a href="../en/loans-and-credits/consumer-credit.html" class="text-decoration-none">
                                <img src="../img/consumer-credit.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0">
                                <a href="../en/loans-and-credits/consumer-credit.html" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">
                                    Verbraucherkredit
                                </a>
                            </h4>
                            <p class="mb-2 lead text-4">Verbraucherkredite sind Kredite, die andere als Immobiliengeschäfte betreffen. Insbesondere wird auf die Cashflow-Anforderung eines Kreditnehmers reagiert, der den Kauf von Konsumgütern finanzieren möchte.</p>
                            <p class="text-2">
                                <a href="../en/loans-and-credits/consumer-credit.html">
                                    Mehr erfahren
                                    <i class="fa fa-arrow-right ml-2"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                <article>
                    <div class="row">
                        <div class="col">
                            <a href="../en/loans-and-credits/car-loan.html" class="text-decoration-none">
                                <img src="../img/car-loan.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0">
                                <a href="../en/loans-and-credits/car-loan.html" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">
                                    Autokredit
                                </a>
                            </h4>
                            <p class="mb-2 lead text-4">
                                Sie möchten ein Fahrzeug kaufen, haben aber wie die große Mehrheit der Haushalte nicht das Kapital, um es zu finanzieren?
                            </p>
                            <p class="text-2">
                                <a href="../en/loans-and-credits/car-loan.html">
                                    Mehr erfahren
                                    <i class="fa fa-arrow-right ml-2"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-8 col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                <article>
                    <div class="row">
                        <div class="col">
                            <a href="../en/loans-and-credits/works-credit.html" class="text-decoration-none">
                                <img src="../img/works-credit.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0">
                                <a href="../en/loans-and-credits/works-credit.html" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">
                                    Werkskredit
                                </a>
                            </h4>
                            <p class="mb-2 lead text-4">
                                Braucht Ihr Zuhause ein Facelifting? Möchten Sie vergrößern? Ja, aber Renovierungs- oder Öko-Renovierungsarbeiten sind ebenso wie Landschaftsgestaltung oft mit erheblichen Kosten verbunden.
                            </p>
                            <p class="text-2">
                                <a href="../en/loans-and-credits/works-credit.html">
                                    Mehr erfahren
                                    <i class="fa fa-arrow-right ml-2"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>

    <section class="section bg-color-primary section-height-3 border-0 mt-4 mb-0">
        <div class="container">

            <div class="row">
                <div class="col-md-10 py-3 mx-md-auto">
                    <div class="row pt-2 clearfix">
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
                                <div class="feature-box-icon">
                                    <i class="icon-user-following icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">Fairer Kredit</h4>
                                    <p class="mb-4 text-color-light opacity-6">
                                        100% der Zinsen werden an unsere professionellen Anleger (natürliche und juristische Personen) gezahlt.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
                                <div class="feature-box-icon">
                                    <i class="icon-clock icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">Schnelle Gutschrift</h4>
                                    <p class="mb-4 text-color-light opacity-6">
                                        Nach Erhalt Ihrer vollständigen Datei kann OPEN BANK INTERNATIONAL Ihnen innerhalb von 24 Arbeitsstunden eine Antwort per SMS im Falle einer Annahme und per E-Mail im Falle einer Ablehnung geben.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                <div class="feature-box-icon">
                                    <i class="icon-calculator icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">Transparenter Kredit</h4>
                                    <p class="mb-4 text-color-light opacity-6">
                                        100% unserer Kunden profitieren von einem festverzinslichen Darlehen mit fester Rückzahlungsfrist. Keine versteckten Kosten.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                                <div class="feature-box-icon">
                                    <i class="icon-mouse icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">100% online</h4>
                                    <p class="mb-4 text-color-light opacity-6">Das Ausfüllen Ihrer Online-Bewerbung dauert nur wenige Minuten. Behalten Sie nach dem Absenden Ihren Posteingang für die nächsten Schritte im Auge.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'autoplay': true, 'autoplayTimeout': 3000}">

                <div>
                    <div class="testimonial testimonial-primary">
                        <blockquote>
                            <p class="mb-0">Was für eine einwandfreie Arbeit Sie geleistet haben. Du hast wirklich meinen Tag gemacht. Ich danke dir sehr.</p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="../img/clients/client-1.html" class="rounded-circle" alt="">
                            </div>
                            <p><strong class="font-weight-extra-bold">Darcia</strong></p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="testimonial testimonial-primary">
                        <blockquote>
                            <p class="mb-0">Mehr als begeistert. Schneller, professioneller und klar menschlicher Service. Eine Antwort in weniger als 4 Stunden ist unglaublich!</p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="../img/clients/client-1.html" class="rounded-circle" alt="">
                            </div>
                            <p><strong class="font-weight-extra-bold">Thierry</strong></p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="testimonial testimonial-primary">
                        <blockquote>
                            <p class="mb-0">Diese Firma ist unglaublich! Sie sind schnell, höflich, leicht zugänglich und helfen mir, aus der Verschuldung herauszukommen!</p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="../img/clients/client-1.html" class="rounded-circle" alt="">
                            </div>
                            <p><strong class="font-weight-extra-bold">Marc</strong></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



    </div>

{% include 'de/footer.html' %}

</div>
    <a href="{% url 'de_request_form' %}" class="btn btn-sm btn-secondary" style="position:fixed;bottom:40px;right:40px;z-index:100;">
        <i class="fas fa-paper-plane mr-2"></i>
        Darlehen beantragen
    </a>
    <a href="{% url 'de_register' %}" class="btn btn-sm btn-primary" style="position:fixed;bottom:80px;right:40px;z-index:100;">
        <i class="fas fa-user-plus mr-2"></i>
        Eröffnen Sie Ihr Konto
    </a>
<a href="https://api.whatsapp.com/send?phone=+302521888006&amp;text=Hello!"
   class="float"
   target="_blank"
   style="position:fixed;bottom:120px;right:40px;text-align:center;font-size:15px;color:#00509D!important;z-index:100;text-decoration: none;font-weight: 400">

    <i class="fab fa-whatsapp my-float" style="padding-top:5px;color: #ffffff!important;font-size:20px;width:30px;height:30px;background-color:#25d366;border-radius:50px;box-shadow: 0 0 4px #141414;"></i>
</a>
<!-- Vendor -->
<script src="{% static 'js/frontend.js' %}"></script>
<!-- Livewire Scripts -->

<script src="{% static 'livewire/livewireb1f3.js' %}" data-turbo-eval="false" data-turbolinks-eval="false"></script>
<script data-turbo-eval="false" data-turbolinks-eval="false">
    if (window.livewire) {
	    console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
	}

    window.livewire = new Livewire();
    window.livewire.devTools(true);
    window.Livewire = window.livewire;
    window.livewire_app_url = '';
    window.livewire_token = 'qPOCPhm6Kj8uDMyvcPXsdn388meIrNjs5ybhfwKT';

	/* Make sure Livewire loads first. */
	if (window.Alpine) {
	    /* Defer showing the warning so it doesn't get buried under downstream errors. */
	    document.addEventListener("DOMContentLoaded", function () {
	        setTimeout(function() {
	            console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\\n\\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
	        })
	    });
	}

	/* Make Alpine wait until Livewire is finished rendering to do its thing. */
    window.deferLoadingAlpine = function (callback) {
        window.addEventListener('livewire:load', function () {
            callback();
        });
    };

    document.addEventListener("DOMContentLoaded", function () {
        window.livewire.start();
    });
</script>
<div class="js-cookie-consent cookie-consent p-4 bg-color-light-scale-2 text-color-primary font-weight-bold shadow-lg" style="position:fixed;bottom:160px;right:20px;left:20px;z-index:10000;border-radius: 10px">

    <h2 class="pb-0 mb-0">Cookies</h2>

    <span class="cookie-consent__message">
        Wir möchten Daten von Ihrem Gerät sammeln, während Sie diese Website nutzen. Wir machen das mit Cookies. Durch das Sammeln dieser Daten können wir Ihnen die bestmögliche Erfahrung bieten, Ihr Konto schützen, Social Media-Funktionen bereitstellen und den Inhalt von Werbe- und Servicemeldungen personalisieren. Bitte akzeptieren Sie Cookies, damit wir Ihre Daten auf diese Weise sammeln können.
    </span>
    <br>
    <button class="js-cookie-consent-agree cookie-consent__agree btn bg-color-primary text-white text-uppercase float-right">
        Akzeptieren
    </button>

</div>

    <script>

        window.laravelCookieConsent = (function () {

            const COOKIE_VALUE = 1;
            const COOKIE_DOMAIN = 'one.open-int-bank.com';

            function consentWithCookies() {
                setCookie('laravel_cookie_consent', COOKIE_VALUE, 7300);
                hideCookieDialog();
            }

            function cookieExists(name) {
                return (document.cookie.split('; ').indexOf(name + '=' + COOKIE_VALUE) !== -1);
            }

            function hideCookieDialog() {
                const dialogs = document.getElementsByClassName('js-cookie-consent');

                for (let i = 0; i < dialogs.length; ++i) {
                    dialogs[i].style.display = 'none';
                }
            }

            function setCookie(name, value, expirationInDays) {
                const date = new Date();
                date.setTime(date.getTime() + (expirationInDays * 24 * 60 * 60 * 1000));
                document.cookie = name + '=' + value
                    + ';expires=' + date.toUTCString()
                    + ';domain=' + COOKIE_DOMAIN
                    + ';path=/'
                    + ';samesite=lax';
            }

            if (cookieExists('laravel_cookie_consent')) {
                hideCookieDialog();
            }

            const buttons = document.getElementsByClassName('js-cookie-consent-agree');

            for (let i = 0; i < buttons.length; ++i) {
                buttons[i].addEventListener('click', consentWithCookies);
            }

            return {
                consentWithCookies: consentWithCookies,
                hideCookieDialog: hideCookieDialog
            };
        })();
    </script>

</body>
</html>
