{% load static %}
<!DOCTYPE html>
<html lang="fr">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COEM GROUP - Compte Epargne</title>
    <meta name="keywords" content="loan, credit, prêt, crédit" />
    <meta name="description" content="Produits de comptes épargne">
    <meta name="author" content="../../index.html">
    {% include 'fr/head.html' %}
    <!-- Livewire Styles -->
<style>
    [wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid] {
        display: none;
    }

    [wire\:offline] {
        display: none;
    }

    [wire\:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }

    input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
        animation-duration: 50000s;
        animation-name: livewireautofill;
    }

    @keyframes livewireautofill { from {} }
</style>
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script>

        (() => {
            const application = Stimulus.Application.start()

            application.register("calculator", class extends Stimulus.Controller {
                static targets = [ "currency", "amount", "duration", "output", "error" ]

                calculate() {
                    let currency = this.currencyTarget.value
                    let amount = parseFloat(this.amountTarget.value)
                    let duration = parseInt(this.durationTarget.value)
                    let monthly = parseFloat(`${(amount + (amount * 0.03))}`) / duration

                    if (!isNaN(parseInt(currency))) {
                        this.errorTarget.textContent = 'Incorrect format'
                    } else {
                        this.errorTarget.textContent = ''
                    }

                    if (isNaN(monthly)) {
                        this.outputTarget.textContent = 0
                    } else {
                        this.outputTarget.textContent = Math.round(monthly * 100) / 100 + ' ' + currency
                    }
                }
            })
        })()
    </script>
</head>
<body class="" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">

<div class="body">
{% include 'fr/header.html' %}
    <div role="main" class="main">

                    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Compte Epargne</h1>
                <span class="sub-title text-dark">Produits de comptes épargne</span>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right">
                    <li><a href="{% url 'fr' %}">Accueil</a></li>
                    <li class="active">Compte Epargne</li>
                </ul>
            </div>
        </div>
    </div>
</section>
        
        
    <div class="container">
        <div class="row pt-5">
            <div class="col">
                <h2>Produits de comptes épargne</h2>
                <p>Assurez-vous que votre compte d&#039;épargne vous convient le mieux.</p>
            </div>
        </div>
    </div>

    <section class="parallax section section-parallax mb-0 text-color-white" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{% static 'img/parallax/parallax-7.jpg' %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="text-uppercase text-color-white">Épargne jeunesse</h3>
                    <h4 class="text-color-white">Un excellent moyen pour les moins de 18 ans d&#039;adopter de bonnes habitudes d&#039;épargne.</h4>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <dl class="pt-3">
                        <dt>Dépôt d&#039;ouverture de compte.</dt>
                        <dd>10€ minimum.</dd>
                        <dt>La balance minimum.</dt>
                        <dd>Aucune exigence de solde minimum.</dd>
                        <dt>Interest.</dt>
                        <dd>Ce compte porte intérêt.</dd>
                        <dt>Frais mensuelle.</dt>
                        <dd>€0</dd>
                    </dl>
                </div>
                <div class="col">
                    <dl class="pt-3">
                        <dt>Condition d&#039;âge.</dt>
                        <dd>Disponible pour les personnes de moins de 18 ans. (le compte nécessite un copropriétaire tuteur légal)</dd>
                        <dt>Frais de retrait au guichet automatique.</dt>
                        <dd>3€ pour les retraits aux distributeurs nationaux.</dd>
                        <dt>Options de livraison des relevés.</dt>
                        <dd>Relevés papier - 3€ par relevé. Relevés sans papier - 0 €. Sélectionné dans les services bancaires en ligne ou mobiles.</dd>
                    </dl>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <a href="{% url 'fr_register' %}" class="btn btn-secondary">Ouvrez votre compte</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-height-3 border-0 mt-0 mb-0 bg-color-grey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="text-uppercase">Épargne du marché monétaire</h3>
                    <h4>Accélérez vos objectifs à un prix avantageux lorsque vous conservez au moins 10000 € sur le compte.</h4>
                </div>
            </div>
            <div class="row align-items-center pt-3">
                <div class="col">
                    <dl>
                        <dt>Dépôt d&#039;ouverture de compte.</dt>
                        <dd>25€ minimum.</dd>
                        <dt>La balance minimum.</dt>
                        <dd>Aucune exigence de solde minimum.</dd>
                        <dt>Interest.</dt>
                        <dd>Ce compte porte intérêt.</dd>
                    </dl>
                </div>
                <div class="col">
                    <dl>
                        <dt>Frais mensuelle.</dt>
                        <dd>10€. Frais annulés avec tout compte courant personnel ou avec un solde quotidien moyen de 10.000€ sur le compte d&#039;épargne du marché monétaire.</dd>
                        <dt>Options de livraison des relevés.</dt>
                        <dd>Relevés papier - 0€ par relevé. Relevés sans papier - 0€. Sélectionné dans les services bancaires en ligne ou mobiles.</dd>
                    </dl>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <a href="{% url 'fr_register' %}" class="btn btn-primary">Ouvrez votre compte</a>
                </div>
            </div>
        </div>
    </section>



    </div>

   {% include 'fr/footer.html' %}

</div>
    {% include 'fr/racourcis.html' %}

</body>
</html>
