{% load static %}
<!DOCTYPE html>
<html lang="fr">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- CSRF Token -->
    <meta name="csrf-token" content="qPOCPhm6Kj8uDMyvcPXsdn388meIrNjs5ybhfwKT">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Mon Compte | COEM GROUP </title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.html' %}">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'ui/css/auth.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body class="form">
<div class="form-container">
    <div class="form-form">
        <div class="form-form-wrap">
            <div class="form-container">
                <div class="form-content">
        <h2 class="">Connectez Vous</h2>
    <p class="signup-link">Vous n&#039;avez pas de compte ? <a href="{% url 'fr_register' %}">Inscription</a></p>
    {% include 'fr/alerts.html' %}
    <form class="text-left" method="POST" action="{% url 'fr_login' %}">
        {% csrf_token %}
        <div class="form">
            <input type="hidden" name="_token" value="qPOCPhm6Kj8uDMyvcPXsdn388meIrNjs5ybhfwKT">            
            <div id="email-field" class="field-wrapper input">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                <input id="email" name="email" type="email" class="form-control " placeholder="Adresse email" value="" required autocomplete="email" autofocus>
                            </div>
            <div id="password-field" class="field-wrapper input mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                <input id="password" name="password" type="password" class="form-control " required autocomplete="current-password" placeholder="Mot de passe">
                            </div>
            <div class="d-sm-flex justify-content-between mb-5">
                <div class="field-wrapper"></div>
                <div class="field-wrapper toggle-pass">
                    <p class="d-inline-block">Afficher le Mot de passe</p>
                    <label class="switch s-primary">
                        <input type="checkbox" id="toggle-password" class="d-none">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="d-sm-flex justify-content-between">
                <div class="field-wrapper"></div>
                <div class="field-wrapper">
                    <button type="submit" class="btn btn-auth" value="">Connectez Vous</button>
                </div>
            </div>

            <div class="field-wrapper">
                <a href="{% url 'fr_reset' %}" class="forgot-pass-link">Mot de passe oublié?</a>
            </div>

        </div>
    </form>


                    <p class="terms-conditions mt-3">© 2023 All Rights Reserved. <a href="{% url 'fr' %}">COEM GROUP</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-image">
        <div class="l-image" style="background-image: url({% static 'img/online-banking.png' %});" >
        </div>
    </div>
</div>
<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="{% static 'ui/js/auth.js' %}"></script>
<script>
    feather.replace()
</script>
</body>
</html>
