{% load static %}
<footer id="footer" class="bg-color-secondary border-top-0 mt-0">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <h5 class="text-3 mb-3 opacity-7">SPRAVODAJ</h5>
                <p class="pr-1 text-color-light">Držte krok s našimi neustále sa vyvíjajúcimi funkciami a technológiou produktu. Zadajte svoju e-mailovú adresu a prihláste sa na odber nášho bulletinu.</p>
                <div wire:id="CXE6T8kjpo2Wv5QB8BS5" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;CXE6T8kjpo2Wv5QB8BS5&quot;,&quot;name&quot;:&quot;newsletter&quot;,&quot;locale&quot;:&quot;sk&quot;,&quot;path&quot;:&quot;sk&quot;,&quot;method&quot;:&quot;GET&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[]},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;cb3436f7&quot;,&quot;data&quot;:{&quot;newsletterEmail&quot;:null},&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;71fb894ffe1c384f86bf756294202a85277f06617544d39425c5fbe3c806da91&quot;}}">
                <form class="mr-4 mb-3 mb-md-0" wire:submit.prevent="sendNewsletter">
        <div class="input-group input-group-rounded">
            <input wire:model="newsletterEmail" class="form-control form-control-sm bg-light" placeholder="Emailová adresa" type="email">
            <span class="input-group-append">
                <button class="btn btn-light text-color-dark" type="submit"><strong>GO!</strong></button>
            </span>
        </div>
    </form>
</div>
            </div>
            <div class="col-md-6 col-lg-5 mb-4 mb-lg-0">
                <h5 class="text-3 mb-3 opacity-7">Odkazy</h5>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-1">
                            <a href="sk.html" class="text-4 text-white link-hover-style-1">
                                Domov
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="sk/about.html" class="text-4 text-white link-hover-style-1">
                                O nás
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="sk/contact.html" class="text-4 text-white link-hover-style-1">
                                Kontakt
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="sk/faq.html" class="text-4 text-white link-hover-style-1">
                                FAQ
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="sk/privacy-policy.html" class="text-4 text-white link-hover-style-1">
                                Zásady ochrany osobných údajov
                            </a>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="mb-1">
                            <a href="sk/loans-and-credits.html" class="text-4 text-white link-hover-style-1">
                                Pôžičky a pôžičky
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="sk/insurances.html" class="text-4 text-white link-hover-style-1">
                                Poistenia
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="sk/investment" class="text-4 text-white link-hover-style-1">
                                Investície
                            </a>
                        </p>
                        <p class="mb-1">
                            <a href="sk/request-form.html" class="text-4 text-white link-hover-style-1">
                                Žiadosť o pôžičku
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h5 class="text-3 mb-3 opacity-7">KONTAKTUJ NÁS</h5>
                                    <ul class="list list-icons list-icons-lg">
                        <li class="mb-1">
                            <i class="fa fa-phone text-color-light"></i>
                            <p class="m-0">
                                <a class="text-color-light" href="tel:+302">
                                    +302
                                </a>
                            </p>
                        </li>
                        <li class="mb-1">
                            <i class="fa fa-envelope text-color-light"></i>
                            <p class="m-0">
                                <a class="text-color-light" href="mailto:info@one.open-int-bank.com">
                                    info@one.open-int-bank.com
                                </a>
                            </p>
                        </li>
                        <li class="mb-1">
                            <i class="fa fa-dot-circle text-color-light"></i>
                            <p class="m-0 text-color-light">
                                20, avenue de Paris 94811 Villejuif Cedex France
                            </p>
                        </li>
                                                    <li class="mb-1">
                                <i class="fa fa-dot-circle text-color-light"></i>
                                <p class="m-0 text-color-light">
                                    Via Arrigo Boito, 10, 20121
                                </p>
                            </li>
                                                                    </ul>
                    <ul class="social-icons">
                        <li class="social-icons-facebook">
                            <a href="#" target="_blank" title="Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social-icons-twitter">
                            <a href="#" target="_blank" title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-icons-linkedin">
                            <a href="#" target="_blank" title="Linkedin">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                            </div>

        </div>
    </div>
    <div class="footer-copyright bg-color-dark bg-color-scale-overlay bg-color-scale-overlay-1">
        <div class="bg-color-scale-overlay-wrapper">
            <div class="container py-2">
                <div class="row py-4">
                    <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                        <a href="sk.html" class="logo pr-0 pr-lg-3">
                            <img alt="Porto Website Template" src="img/logo-footer.png" class="opacity-5" height="33">
                        </a>
                    </div>
                    <div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                        <p class="text-color-light">© Copyright 2022. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                        <nav id="sub-menu">
                            <ul>
                                <li class="border-0">
                                    <i class="fas fa-angle-right text-color-light"></i>
                                    <a href="sk/privacy-policy.html" class="ml-1 text-decoration-none text-color-light">
                                        Zásady ochrany osobných údajov
                                    </a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>