{% load static %}
<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 135, 'stickySetTop': '-135px', 'stickyChangeLogo': true}">
    <div class="alert bg-color-tertiary mb-0 text-white text-center alert-dismissible" role="alert" style="border-radius: 0!important;background-color: #1A1A1A!important;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a href="#" class="text-white" style="text-decoration: none">
            <strong>COVID-19 Support : </strong> Ako bankovať z domu, spravovať svoj účet, uskutočňovať prevody, prijímať kreditné karty.
        </a>
    </div>
    <div class="header-body border-color-secondary border-bottom-0 box-shadow-none" data-sticky-header-style="{'minResolution': 0}" data-sticky-header-style-active="{'background-color': '#f7f7f7'}" data-sticky-header-style-deactive="{'background-color': '#FFF'}">
        <div class="header-top header-top-borders bg-color-primary">
            <div class="container h-100">
                <div class="header-row h-100">
    <div class="header-column justify-content-start">
        <div class="header-row">
            <nav class="header-nav-top">
                <ul class="nav nav-pills">
                    <li class="nav-item nav-item-borders py-2 d-sm-inline-flex">
                        <a class="nav-link pl-0 text-color-white" href="sk/about.html">
                            <i class="fas fa-angle-right"></i> O nás
                        </a>
                    </li>
                    <li class="nav-item nav-item-borders py-2 d-lg-inline-flex">
                        <a class="nav-link text-color-white" href="sk/contact.html">
                            <i class="fas fa-angle-right"></i> Kontaktuj nás
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-column justify-content-end">
        <div class="header-row">
            <nav class="header-nav-top">
                <ul class="nav nav-pills">
                    <li class="nav-item dropdown nav-item-left-border d-sm-block">
                        <a class="nav-link text-color-white" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://flagicons.lipis.dev/flags/4x3/sk.svg" class="flag flag-us" alt="Slovak" />
                            slovenčina
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownLanguage">
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="de" href="de.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/de.svg" class="flag flag-es" alt="Deutsch" />
                                    Deutsch
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="en" href="en.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/us.svg" class="flag flag-es" alt="English" />
                                    English
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="es" href="es.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/es.svg" class="flag flag-es" alt="español" />
                                    español
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="fr" href="fr.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/fr.svg" class="flag flag-es" alt="français" />
                                    français
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="hu" href="hu.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/hu.svg" class="flag flag-es" alt="magyar" />
                                    magyar
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="nl" href="nl.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/nl.svg" class="flag flag-es" alt="Nederlands" />
                                    Nederlands
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="pl" href="pl.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/pl.svg" class="flag flag-es" alt="polski" />
                                    polski
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="pt" href="pt.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/pt.svg" class="flag flag-es" alt="português" />
                                    português
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="ro" href="ro.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/ro.svg" class="flag flag-es" alt="română" />
                                    română
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="sk" href="sk.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/sk.svg" class="flag flag-es" alt="slovenčina" />
                                    slovenčina
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="sl" href="sl.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/sl.svg" class="flag flag-es" alt="slovenščina" />
                                    slovenščina
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="sv" href="sv.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/se.svg" class="flag flag-es" alt="svenska" />
                                    svenska
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="0" href="index.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/us.svg" class="flag flag-es" alt="Türkçe" />
                                    Türkçe
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="cs" href="cs.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/cz.svg" class="flag flag-es" alt="čeština" />
                                    čeština
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="el" href="el.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/gr.svg" class="flag flag-es" alt="Ελληνικά" />
                                    Ελληνικά
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="bg" href="bg.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/bg.svg" class="flag flag-es" alt="български" />
                                    български
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="ru" href="ru.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/ru.svg" class="flag flag-es" alt="русский" />
                                    русский
                                </a>
                                                            <a class="dropdown-item text-capitalize" rel="alternate" hreflang="kk" href="kk.html">
                                    <img src="https://flagicons.lipis.dev/flags/4x3/kz.svg" class="flag flag-es" alt="қазақ тілі" />
                                    қазақ тілі
                                </a>
                                                    </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
            </div>
        </div>
        <div class="header-container container">
            <div class="header-row py-2">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
    <a href="sk.html">
        <img alt="ONE BANK INTERNATIONAL" height="50" data-sticky-height="45" data-sticky-top="80" src="img/logo.png">
    </a>
</div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <ul class="header-extra-info d-flex align-items-center mr-3">
                                                        <li class="d-none d-sm-inline-flex">
                                <div class="header-extra-info-text">
                                    <label class="text-uppercase">Adresa</label>
                                    <strong><a href="#">20, avenue de Paris 94811 Villejuif Cedex France</a></strong>
                                </div>
                            </li>
                                                                                    <li class="d-none d-sm-inline-flex">
                                <div class="header-extra-info-text">
                                    <label>Pošlite nám e-mail</label>
                                    <strong><a href="mailto:info@one.open-int-bank.com">info@one.open-int-bank.com</a></strong>
                                </div>
                            </li>
                                                                                        <li>
                                    <div class="header-extra-info-text">
                                        <label class="text-uppercase">telefón</label>
                                        <strong><a href="tel:+302">+302</a></strong>
                                    </div>
                                </li>
                                                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header-nav-bar mb-3 px-3 px-lg-0">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row justify-content-end">
                            <div class="order-2 order-lg-1 header-nav header-nav-links justify-content-start" data-sticky-header-style="{'minResolution': 991}" data-sticky-header-style-active="{'margin-left': '150px'}" data-sticky-header-style-deactive="{'margin-left': '0'}">
                                <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-dropdown-arrow header-nav-main-effect-3 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
    <li>
        <a class="dropdown-item active" href="sk.html">Domov</a>
    </li>
    <li class="dropdown">
        <a class="dropdown-item dropdown-toggle " href="#">Bankovníctvo</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="sk/banking/current-account.html">Bežný účet</a></li>
            <li><a class="dropdown-item" href="sk/banking/saving-account.html">Sporiaci účet</a></li>
            <li><a class="dropdown-item" href="sk/banking/mobile-banking.html">Mobilné bankovníctvo</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-item dropdown-toggle " href="sk/loans-and-credits.html">Pôžičky a pôžičky</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="en/loans-and-credits/personal-loan.html">Osobná pôžička</a></li>
            <li><a class="dropdown-item" href="en/loans-and-credits/loan-without-contribution.html">Pôžička bez príspevku</a></li>
            <li><a class="dropdown-item" href="en/loans-and-credits/loan-between-individuals.html">Pôžička medzi jednotlivcami</a></li>
            <li><a class="dropdown-item" href="en/loans-and-credits/consumer-credit.html">Spotrebný úver</a></li>
            <li><a class="dropdown-item" href="en/loans-and-credits/car-loan.html">Pôžička na auto</a></li>
            <li><a class="dropdown-item" href="en/loans-and-credits/works-credit.html">Dielo zápočet</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-item dropdown-toggle " href="sk/insurances.html">Poistenia</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="en/insurances/legal-protection-insurance.html">Poistenie právnej ochrany</a></li>
            <li><a class="dropdown-item" href="en/insurances/income-maintenance-insurance.html">Poistenie výživného</a></li>
            <li><a class="dropdown-item" href="en/insurances/car-insurance.html">Poistenie auta</a></li>
            <li><a class="dropdown-item" href="en/insurances/home-insurance.html">Poistenie domácnosti</a></li>
            <li><a class="dropdown-item" href="en/insurances/loan-insurance.html">Poistenie pôžičky</a></li>
        </ul>
    </li>
    <li>
        <a class="dropdown-item " href="sk/investment">Investícia</a>
    </li>
    <li>
        <a class="dropdown-item " href="sk/credit-card.html">Kreditné karty</a>
    </li>
</ul>
                                    </nav>
                                </div>
                                <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                            <div class="header-nav-features header-nav-features-light header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2 mr-lg-3">
                                <div class="header-nav-feature header-nav-features-search d-inline-flex">
                                    <a class="btn btn-primary text-uppercase" href="sk/login.html">
                                        <i class="fa fa-user-secret mr-2"></i>
                                        Klientská oblasť
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>