{% load static %}
<!DOCTYPE html>
<html lang="de">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ONE BANK INTERNATIONAL - Privat Darlehen</title>
    <meta name="keywords" content="loan, credit, prêt, crédit" />
    <meta name="description" content="ZUVERLÄSSIGE, problemlose Kreditvergabe">
    <meta name="author" content="../../index.html">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.html' %}">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/frontend.css' %}">
    <!-- Head Libs -->
    <script src="{% static 'vendor/modernizr/modernizr.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Livewire Styles -->
<style>
    [wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid] {
        display: none;
    }

    [wire\:offline] {
        display: none;
    }

    [wire\:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }

    input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
        animation-duration: 50000s;
        animation-name: livewireautofill;
    }

    @keyframes livewireautofill { from {} }
</style>
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script>

        (() => {
            const application = Stimulus.Application.start()

            application.register("calculator", class extends Stimulus.Controller {
                static targets = [ "currency", "amount", "duration", "output", "error" ]

                calculate() {
                    let currency = this.currencyTarget.value
                    let amount = parseFloat(this.amountTarget.value)
                    let duration = parseInt(this.durationTarget.value)
                    let monthly = parseFloat(`${(amount + (amount * 0.03))}`) / duration

                    if (!isNaN(parseInt(currency))) {
                        this.errorTarget.textContent = 'Incorrect format'
                    } else {
                        this.errorTarget.textContent = ''
                    }

                    if (isNaN(monthly)) {
                        this.outputTarget.textContent = 0
                    } else {
                        this.outputTarget.textContent = Math.round(monthly * 100) / 100 + ' ' + currency
                    }
                }
            })
        })()
    </script>
</head>
<body class="" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">

<div class="body">
    {% include 'de/header.html' %}
    <div role="main" class="main">

                    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Privat Darlehen</h1>
                <span class="sub-title text-dark">ZUVERLÄSSIGE, problemlose Kreditvergabe</span>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right">
                    <li><a href="{% url 'de' %}">Zuhause</a></li>
                    <li class="active">Privat Darlehen</li>
                </ul>
            </div>
        </div>
    </div>
</section>
        
        
    <div class="container">

        <div class="row pt-5">
            <div class="col">

                <h2>Die Vorteile eines Privatkredits</h2>
                <p class="lead">Manchmal haben Sie nicht genug Geld, um das Projekt Ihrer Träume zu finanzieren. Eine Hochzeit zu planen, zu reisen, Autos zu wechseln oder Aufgaben zu erledigen, sind teure Lebensprojekte, für die manchmal ein persönlicher Kredit erforderlich ist.</p>
                <p>Bei OPEN BANK INTERNATIONAL bieten wir Ihnen eine neue 100% Online-Erfahrung für persönliche Darlehen zur Finanzierung Ihres Projekts. Sie können Ihren Vertrag aus der Ferne unterzeichnen und Ihre Dokumente, die zum Ausfüllen Ihrer persönlichen Kreditauskunft erforderlich sind, direkt herunterladen. Diese Online-Erfahrung bei der Beantragung persönlicher Darlehen ist einfach, schnell und transparent. Eine Finanzierungslösung, mit der Sie zusätzlich von einem besonders attraktiven festen jährlichen Fremdkapitalzinssatz (oder jährlichen Prozentsatz) profitieren können. Genug, um Ihr Projekt zum Leben zu erwecken, ohne sich um den nächsten Tag sorgen zu müssen!</p>

                <h2>Was ist ein Privatkredit?</h2>
                <p>Ein persönlicher Kredit ist ein Kredit, der als &quot;nicht betroffen&quot; bezeichnet wird. In der Tat entspricht der aus einem Privatkredit geliehene Betrag nicht dem genauen Kauf einer Immobilie (Auto, Motorrad, Immobilien usw.). Daher wird das persönliche Darlehen nicht bei Vorlage einer Rechnung wie bei &quot;zugewiesenen&quot; Darlehen ausgelöst, sondern erfüllt lediglich einen Bargeldbedarf des Haushalts. Letztendlich steht es dem Kreditnehmer frei, den Betrag des Kredits nach eigenem Ermessen zu verwenden, sei es zur Finanzierung eines Konsumgutes (Auto, Kühlschrank, Lebensmittel usw.) oder für eine andere Dienstleistung. Diese Art von Kredit kann entweder von einer Bank oder von einer auf Kredite spezialisierten Finanzierungsorganisation vergeben werden.</p>
                <p>Die Rückzahlung eines Privatkredits erfolgt in der Regel jeden Monat. Die im Vertrag festgelegte Laufzeit hängt von der Höhe des Darlehens und den finanziellen Möglichkeiten des Darlehensnehmers ab. Die monatlichen Zahlungen berücksichtigen den Gesamtbetrag des Darlehens und seine Laufzeit, den Jahreszins (APR) sowie die Versicherung, sofern der Darlehensnehmer sie abonniert hat.</p>

                <h2>Was ist mit der Todesfallversicherung des Kreditnehmers?</h2>
                <p>Vor der Gewährung eines Kredits kann der Kreditgeber vom Kreditnehmer den Abschluss einer Versicherung verlangen. Und das, obwohl das Gesetz es nicht verlangt. In jedem Fall liegt es im Interesse des Kreditnehmers, diese optionale Versicherung in Betracht zu ziehen. Denn im Falle eines Zahlungsvorfalls, der beispielsweise aus dem Verlust der Beschäftigung oder dem Tod resultiert, erstattet die Versicherung das ausstehende Kapital.</p>
                <p class="lead">Es ist auch wichtig zu wissen, dass Sie sich auch dann an die Einrichtung Ihrer Wahl wenden können, wenn der Kreditgeber Ihnen anbietet, Ihr persönliches Darlehen zu versichern.</p>

                <h2>Unterstützende Dokumente zum Einrichten einer persönlichen Kreditdatei</h2>
                <p>Die Annahme eines Privatkredits hängt hauptsächlich von den Ressourcen und dem Vermögen des Antragstellers ab. Es ist in der Tat von entscheidender Bedeutung, vorab sicherzustellen, dass die finanzielle Situation und das Kapital es ihm ermöglichen, die monatlichen Rückzahlungsraten zu erfüllen.</p>
                <p>Für die Zusammenstellung Ihrer Akte fordert OPEN BANK INTERNATIONAL daher die gesetzlich vorgeschriebenen Belege oder die Praktiken von Bankinstituten an. Wir werden Sie jedoch nicht auffordern, Originaldokumente bereitzustellen. Sie müssen lediglich Ihre unterstützenden Dokumente auf unsere Plattform hochladen.</p>
                <p>Schließlich werden Sie aufgefordert, eine vollständige Datei vorzulegen, um ein Darlehensangebot zu erhalten.</p>

            </div>
        </div>

    </div>



    </div>

{% include 'de/footer.html' %}

</div>  
    <a href="{% url 'de_request_form' %}" class="btn btn-sm btn-secondary" style="position:fixed;bottom:40px;right:40px;z-index:100;">
        <i class="fas fa-paper-plane mr-2"></i>
        Darlehen beantragen
    </a>
    <a href="{% url 'de_register' %}" class="btn btn-sm btn-primary" style="position:fixed;bottom:80px;right:40px;z-index:100;">
        <i class="fas fa-user-plus mr-2"></i>
        Eröffnen Sie Ihr Konto
    </a>


<a href="https://api.whatsapp.com/send?phone=+302521888006&amp;text=Hello!"
   class="float"
   target="_blank"
   style="position:fixed;bottom:120px;right:40px;text-align:center;font-size:15px;color:#00509D!important;z-index:100;text-decoration: none;font-weight: 400">

    <i class="fab fa-whatsapp my-float" style="padding-top:5px;color: #ffffff!important;font-size:20px;width:30px;height:30px;background-color:#25d366;border-radius:50px;box-shadow: 0 0 4px #141414;"></i>
</a>
<!-- Vendor -->
<script src="{% static 'js/frontend.js' %}"></script>
<!-- Livewire Scripts -->

<script src="{% static 'livewire/livewireb1f3.js' %}" data-turbo-eval="false" data-turbolinks-eval="false"></script>
<script data-turbo-eval="false" data-turbolinks-eval="false">
    if (window.livewire) {
	    console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
	}

    window.livewire = new Livewire();
    window.livewire.devTools(true);
    window.Livewire = window.livewire;
    window.livewire_app_url = '';
    window.livewire_token = 'qPOCPhm6Kj8uDMyvcPXsdn388meIrNjs5ybhfwKT';

	/* Make sure Livewire loads first. */
	if (window.Alpine) {
	    /* Defer showing the warning so it doesn't get buried under downstream errors. */
	    document.addEventListener("DOMContentLoaded", function () {
	        setTimeout(function() {
	            console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\\n\\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
	        })
	    });
	}

	/* Make Alpine wait until Livewire is finished rendering to do its thing. */
    window.deferLoadingAlpine = function (callback) {
        window.addEventListener('livewire:load', function () {
            callback();
        });
    };

    document.addEventListener("DOMContentLoaded", function () {
        window.livewire.start();
    });
</script>
    <script>

        window.laravelCookieConsent = (function () {

            const COOKIE_VALUE = 1;
            const COOKIE_DOMAIN = 'one.open-int-bank.com';

            function consentWithCookies() {
                setCookie('laravel_cookie_consent', COOKIE_VALUE, 7300);
                hideCookieDialog();
            }

            function cookieExists(name) {
                return (document.cookie.split('; ').indexOf(name + '=' + COOKIE_VALUE) !== -1);
            }

            function hideCookieDialog() {
                const dialogs = document.getElementsByClassName('js-cookie-consent');

                for (let i = 0; i < dialogs.length; ++i) {
                    dialogs[i].style.display = 'none';
                }
            }

            function setCookie(name, value, expirationInDays) {
                const date = new Date();
                date.setTime(date.getTime() + (expirationInDays * 24 * 60 * 60 * 1000));
                document.cookie = name + '=' + value
                    + ';expires=' + date.toUTCString()
                    + ';domain=' + COOKIE_DOMAIN
                    + ';path=/'
                    + ';samesite=lax';
            }

            if (cookieExists('laravel_cookie_consent')) {
                hideCookieDialog();
            }

            const buttons = document.getElementsByClassName('js-cookie-consent-agree');

            for (let i = 0; i < buttons.length; ++i) {
                buttons[i].addEventListener('click', consentWithCookies);
            }

            return {
                consentWithCookies: consentWithCookies,
                hideCookieDialog: hideCookieDialog
            };
        })();
    </script>

</body>
</html>
